
.vs/config/applicationhost.config
.vs/InstAPIGeneric/v14/.suo
debug.log
InstAPIGeneric.API/bin/InstAPIGeneric.API.dll
InstAPIGeneric.API/bin/InstAPIGeneric.API.pdb
InstAPIGeneric.API/bin/InstAPIGeneric.BL.dll
InstAPIGeneric.API/bin/InstAPIGeneric.BL.pdb
InstAPIGeneric.API/bin/InstAPIGeneric.Model.dll
InstAPIGeneric.API/bin/InstAPIGeneric.Model.pdb
InstAPIGeneric.API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InstAPIGeneric.API/obj/Debug/InstAPIGeneric.API.csproj.FileListAbsolute.txt
InstAPIGeneric.API/obj/Debug/InstAPIGeneric.API.csprojResolveAssemblyReference.cache
InstAPIGeneric.API/obj/Debug/InstAPIGeneric.API.dll
InstAPIGeneric.API/obj/Debug/InstAPIGeneric.API.pdb
InstAPIGeneric.BL/bin/Debug/InstAPIGeneric.BL.dll
InstAPIGeneric.BL/bin/Debug/InstAPIGeneric.Model.dll
InstAPIGeneric.BL/bin/Debug/InstAPIGeneric.BL.pdb
InstAPIGeneric.BL/bin/Debug/InstAPIGeneric.Model.pdb
InstAPIGeneric.BL/obj/Debug/InstAPIGeneric.BL.csproj.FileListAbsolute.txt
InstAPIGeneric.BL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InstAPIGeneric.BL/obj/Debug/InstAPIGeneric.BL.csprojResolveAssemblyReference.cache
InstAPIGeneric.BL/obj/Debug/InstAPIGeneric.BL.dll
InstAPIGeneric.BL/obj/Debug/InstAPIGeneric.BL.pdb
InstAPIGeneric.Model/bin/Debug/InstAPIGeneric.Model.dll
InstAPIGeneric.Model/bin/Debug/InstAPIGeneric.Model.pdb
InstAPIGeneric.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InstAPIGeneric.Model/obj/Debug/InstAPIGeneric.Model.csproj.FileListAbsolute.txt
InstAPIGeneric.Model/obj/Debug/InstAPIGeneric.Model.csprojResolveAssemblyReference.cache
InstAPIGeneric.Model/obj/Debug/InstAPIGeneric.Model.dll
InstAPIGeneric.Model/obj/Debug/InstAPIGeneric.Model.pdb
.vs/InstAPIGeneric/v14/.suo
InstAPIGeneric.API/bin/InstAPIGeneric.API.dll
InstAPIGeneric.API/bin/InstAPIGeneric.API.pdb
InstAPIGeneric.API/bin/InstAPIGeneric.BL.dll
InstAPIGeneric.API/bin/InstAPIGeneric.BL.pdb
InstAPIGeneric.API/obj/Debug/_WPPLastBuildInfo.txt
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/InstAPIGeneric.API.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/InstAPIGeneric.API.pdb
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/InstAPIGeneric.BL.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/InstAPIGeneric.BL.dll.config
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/InstAPIGeneric.BL.pdb
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/InstAPIGeneric.Model.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/InstAPIGeneric.Model.dll.config
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/InstAPIGeneric.Model.pdb
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.Collections.NonGeneric.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.ComponentModel.Primitives.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.ComponentModel.TypeConverter.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.IO.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.Linq.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.Linq.Expressions.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.Reflection.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.Runtime.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.Runtime.Extensions.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.Runtime.InteropServices.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/bin/System.Runtime.Serialization.Primitives.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/Source/Web.config
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/App_global.asax.compiled
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/App_global.asax.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/InstAPIGeneric.API.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/InstAPIGeneric.API.pdb
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/InstAPIGeneric.BL.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/InstAPIGeneric.BL.dll.config
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/InstAPIGeneric.BL.pdb
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/InstAPIGeneric.Model.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/InstAPIGeneric.Model.dll.config
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/InstAPIGeneric.Model.pdb
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.Collections.NonGeneric.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.ComponentModel.Primitives.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.ComponentModel.TypeConverter.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.IO.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.Linq.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.Linq.Expressions.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.Reflection.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.Runtime.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.Runtime.Extensions.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.Runtime.InteropServices.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/bin/System.Runtime.Serialization.Primitives.dll
InstAPIGeneric.API/obj/Debug/AspnetCompileMerge/TempBuildDir/Web.config
InstAPIGeneric.API/obj/Debug/InstAPIGeneric.API.csprojResolveAssemblyReference.cache
InstAPIGeneric.API/obj/Debug/InstAPIGeneric.API.dll
InstAPIGeneric.API/obj/Debug/InstAPIGeneric.API.pdb
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/App_global.asax.compiled
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/App_global.asax.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/EntityFramework.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/EntityFramework.SqlServer.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/FromHeaderAttribute.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/IBM.Data.Informix.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/InstAPIGeneric.API.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/InstAPIGeneric.API.pdb
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/InstAPIGeneric.BL.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/InstAPIGeneric.BL.pdb
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/InstAPIGeneric.Model.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/InstAPIGeneric.Model.pdb
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Authorization.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Hosting.Abstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Http.Abstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Http.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Http.Extensions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Http.Features.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.JsonPatch.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Mvc.Abstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Mvc.Core.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Routing.Abstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.Routing.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.AspNetCore.WebUtilities.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.DotNet.InternalAbstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Extensions.Configuration.Abstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Extensions.DependencyModel.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Extensions.FileProviders.Abstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Extensions.Logging.Abstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Extensions.ObjectPool.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Extensions.Options.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Extensions.PlatformAbstractions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Extensions.Primitives.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Microsoft.Net.Http.Headers.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Newtonsoft.Json.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/csc.exe
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/csc.exe.config
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/csc.rsp
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/csi.exe
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/csi.exe.config
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/csi.rsp
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.Managed.Core.targets
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.AppContext.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Console.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Diagnostics.StackTrace.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.IO.Compression.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.Primitives.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.IO.Pipes.AccessControl.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.IO.Pipes.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Security.AccessControl.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Security.Claims.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Encoding.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Primitives.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Security.Principal.Windows.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Text.Encoding.CodePages.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.ValueTuple.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Xml.ReaderWriter.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Xml.XmlDocument.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Xml.XPath.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/System.Xml.XPath.XDocument.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/vbc.exe
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/vbc.exe.config
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/vbc.rsp
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/Swagger.Net.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Buffers.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Collections.NonGeneric.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.ComponentModel.Primitives.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.ComponentModel.TypeConverter.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Diagnostics.DiagnosticSource.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.IO.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Linq.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Linq.Expressions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Net.Http.Formatting.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Reflection.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Runtime.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Runtime.Extensions.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Runtime.InteropServices.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Runtime.Serialization.Primitives.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Text.Encodings.Web.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Web.Http.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/bin/System.Web.Http.WebHost.dll
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/PrecompiledApp.config
InstAPIGeneric.API/obj/Debug/Package/PackageTmp/Web.config
InstAPIGeneric.API/obj/Debug/TransformWebConfig/assist/Web.config
InstAPIGeneric.API/obj/Debug/TransformWebConfig/original/Web.config
InstAPIGeneric.API/obj/Debug/TransformWebConfig/transformed/Web.config
InstAPIGeneric.API/Properties/PublishProfiles/FolderProfile.pubxml
InstAPIGeneric.API/Properties/PublishProfiles/FolderProfile.pubxml.user
InstAPIGeneric.BL/bin/Debug/InstAPIGeneric.BL.dll
InstAPIGeneric.BL/bin/Debug/InstAPIGeneric.BL.pdb
InstAPIGeneric.BL/obj/Debug/InstAPIGeneric.BL.csprojResolveAssemblyReference.cache
InstAPIGeneric.BL/obj/Debug/InstAPIGeneric.BL.dll
InstAPIGeneric.BL/obj/Debug/InstAPIGeneric.BL.pdb
